.poligon {
    height: 90%;
    aspect-ratio: 1 / 1;
    outline: 1px solid var(--green);
    padding: 1%;
}
.cell {
    display: inline-block;
    width: 4%;
    height: 4%;
    padding: 0.4%;
    outline: 0.1px dashed var(--gray-dark);
}
